.search-wrapper {
  width: 900px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 15px 0px rgba(0, 104, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 150px;
}
.search-wrapper h1 {
  margin-top: 20px;
  margin-bottom: 45px;
  color: #0068ff;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 800;
}
.search-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 60px;
  margin-bottom: 16px;
}
.search-category-btn {
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
.search-category-btn.active {
  color: #0066ffcd;
}
.search-card {
  width: 850px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 7px;
  padding: 12px 30px;
  transition: 0.3s ease;
  cursor: pointer;
}
.search-card:hover {
  transform: translateY(-2px);
  box-shadow: 0.5px 1px 8px 0px #0066ff37;
}
.search-card h3 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 6.5px;
}
.card-info-wrapper {
  display: flex;
  justify-content: space-between;
}
.info-category {
  color: rgba(0, 0, 0, 0.69);
  font-size: 13px;
  font-weight: 400;
}
.info-date {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: 400;
}
.number-btn-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.number-btn-wrapper button {
  color: rgba(0, 0, 0, 0.53);
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
}
.number-btn-wrapper button:hover {
  background-color: #fff;
}
.number-btn-wrapper button.active {
  color: #0066ffcd;
}
