.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.email-wrapper {
  background: rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
}
.email-info {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}
.email-result {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 5px;
}
.modal-content h3 {
  font-size: 27px;
  color: #0068ff;
  margin: 0 auto;
  margin-bottom: 10px;
}
.modal-content p {
  margin: 10px auto;
}
.resend-wrapper button {
  width: 200px;
  font-size: 13px;
  padding: 6px 10px;
}
.close-btn {
  padding: 5px 10px;
  background-color: #fff;
  color: #007bff;
  border: solid 1px #007bff;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.3s ease;
}
.close-btn:hover {
  background-color: #007bff;
  color: #fff;
}
.send-btn {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.modal-content-address {
  width: 500px;
  height: 600px;
  margin: 150px auto;
  background: white;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.send-btn {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 60%;
  padding: 5px 0;
  text-align: center;
  font-size: 25px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.send-btn:hover {
  border: solid 1px #007bff;
  color: #007bff;
}

.email-text-input {
  width: 60%;
  padding: 5px 0;
  text-align: center;
  font-size: 25px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.email-text-input:focus {
  outline: none;
  border: solid 1px #007bff;
  color: #007bff;
}
.email-verify-btn {
  height: 30px;
  background: #ffffff;
  border: solid 1px #007bff;
  border-radius: 10px;
  color: #0068ff;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}
.email-send-btn {
  margin-top: 3px;
  font-size: 15px;
  width: 57%;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.2s;
}
.email-send-btn:hover {
  color: #0068ff;
}
.email-verify-btn {
  width: 50%;
  margin-left: 10px;
}

.email-verify-btn:hover {
  background: #007bff;
  color: #fff;
}
.email-btn-send-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 40%;
}
