.search {
  position: relative;
  top: -20px;
  width: 700px;
  height: 140px;
  margin: 0 auto;
  border: 2px solid #89b8fa;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 3px 3px 40px 0px rgba(0, 104, 255, 0.25);
  padding: 20px;
}
.search h1 {
  color: #0068ff;
  text-align: center;
  font-family: Inter;
  font-size: 23px;
  font-weight: 700;
}
.search h2 {
  color: rgba(0, 0, 0, 0.29);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.searchbar {
  width: 80%;
  margin: 0 auto;
  display: block;
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  border: none;
  border-bottom: 2px solid #d1d1d1;
  padding-top: 10px;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}

.searchbar:focus::placeholder {
  color: transparent;
}
.searchbar::placeholder {
  color: #d1d1d18e;
  font-size: 32px;
  /* font-weight: 100; */
  text-align: center;
}
.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(35%) translateX(-220%);
  width: 30px;
  height: 30px;
  opacity: 0.3;
}

.suggestion-list {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  /* max-height: 200px; */
  overflow-y: auto;
  /* transform: translateY(-2px); */
}

.suggestion-header {
  padding: 6px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  color: #666;
  font-size: 14px;
}

.keyword-name {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  color: #333;
}

.delete-keyword {
  margin-left: 10px;
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 14px;
}

.no-recent {
  padding: 10px;
  color: #aaa;
  font-size: 14px;
  text-align: center;
}
